{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="timeline" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Check key dates of all live exercises
          </h1>

          <p class="govuk-body-l">Use this to see dates to avoid for your exercise.</p>

          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Situational judgment test, Critical analysis test</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Scenario test date</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Scenario test evaluation date</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Sift date</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Selection day dates</a>
            </li>
          </ul>

          <!--DATE-->

          <p class="govuk-heading-l">Situational judgment test, Critical analysis test</p>

          <!--TABLE-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">22 August 2019</th>
                <td class="govuk-table__cell">Recorder</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2 September 2019</th>
                <td class="govuk-table__cell">Circuit judge</td>
              </tr>
            </tbody>
          </table>
          <!--END TABLE-->
          <br>

          <p class="govuk-heading-l">Scenario test date</p>

          <!--TABLE-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">22 August 2019</th>
                <td class="govuk-table__cell">Recorder</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2 September 2019</th>
                <td class="govuk-table__cell">Circuit judge</td>
              </tr>
            </tbody>
          </table>
          <!--END TABLE-->
          <br>

          <p class="govuk-heading-l">Scenario test evaluation date</p>

          <!--TABLE-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">22 August 2019</th>
                <td class="govuk-table__cell">Recorder</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2 September 2019</th>
                <td class="govuk-table__cell">Circuit judge</td>
              </tr>
            </tbody>
          </table>
          <!--END TABLE-->
          <br>

          <p class="govuk-heading-l">Sift date</p>

          <!--TABLE-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">22 August 2019</th>
                <td class="govuk-table__cell">Recorder</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2 September 2019</th>
                <td class="govuk-table__cell">Circuit judge</td>
              </tr>
            </tbody>
          </table>
          <!--END TABLE-->
          <br>

          <p class="govuk-heading-l">Selection day dates</p>

          <!--TABLE-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">22 August 2019</th>
                <td class="govuk-table__cell">Recorder</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2 September 2019</th>
                <td class="govuk-table__cell">Circuit judge</td>
              </tr>
            </tbody>
          </table>
          <!--END TABLE-->
          <br>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}