{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="key-people" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Create an exercise
          </h1>



          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="exercise-regular">
              Exercise name
            </label>
            <input class="govuk-input" id="exercise-regular" name="exercise-regular" type="text">
          </div>
          <!--FREQUENT
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Is this a frequent exercise?
                </h1>
              </legend>
              <span id="citizenship-conditional-hint" class="govuk-hint">
                These are exercises that JAC runs every year or so, for example Recorder.
              </span>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="frequent-exercise-conditional" name="frequent-exercise"
                    type="radio" value="email" data-aria-controls="conditional-frequent-exercise-conditional">
                  <label class="govuk-label govuk-radios__label" for="frequent-exercise-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-frequent-exercise-conditional">
                  <div class="govuk-form-group">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        </legend>
                        <div class="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live"
                              type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                              Circuit judge
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live"
                              type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                              Deputy district judge
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live"
                              type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                              District judge
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live"
                              type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                              Recorder
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live"
                              type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                              Tribunal judge – fee paid
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live"
                              type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                              Tribunal judge – salaried
                            </label>
                          </div>

                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id=" " frequent-exercise-conditional-2" name="how-contacted"
                    type="radio" value="phone" data-aria-controls="" conditional-frequent-exercise-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        -->

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Type of exercise
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                    value="email" data-aria-controls="conditional-how-contacted-conditional">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    Legal
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-how-contacted-conditional">
                  <div class="govuk-form-group">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        </legend>
                        <div class="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live"
                              type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                              Court
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live"
                              type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                              Tribunal
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                    value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    Non legal
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio"
                    value="text" data-aria-controls="conditional-how-contacted-conditional-3">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                    Senior
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-4" name="how-contacted" type="radio"
                    value="text" data-aria-controls="conditional-how-contacted-conditional-4">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-4">
                    Leadership
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--RADIO CONDITIONAL GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="further-information-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Do you want to add more information about this exercise now?
                </h1>
                <span id="waste-hint" class="govuk-hint">
                  You can add exercise contacts, shortlisting methods, timeline dates, or information from HMCTS. You
                  can also do this later.
                </span>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="further-information-conditional" name="further-information"
                    type="radio" value="email" data-aria-controls="conditional-further-information-conditional">
                  <label class="govuk-label govuk-radios__label" for="further-information-conditional">
                    Yes
                  </label>
                </div>
                <!--CONDITIONAL CURRENCY-->
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-further-information-conditional">
                  <!--CHECKBOX GROUP-->
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                          What do you want to add?
                        </h1>
                      </legend>
                      <span id="waste-hint" class="govuk-hint">
                        Select all that apply.
                      </span>
                      <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox"
                            value="mines">
                          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                            Exercise contacts
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox"
                            value="carcasses">
                          <label class="govuk-label govuk-checkboxes__label" for="waste">
                            Shortlisting methods and dates
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox"
                            value="mines">
                          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                            Timeline dates
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox"
                            value="mines">
                          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                            Vacancy information
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox"
                            value="mines">
                          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                            Eligibility information
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="further-information-conditional-2" name="further-information"
                    type="radio" value="phone" data-aria-controls="conditional-further-information-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="further-information-conditional-2">
                    No - I'll do this later
                  </label>
                </div>
            </fieldset>
          </div>



          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}