{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="timeline-qt" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--CONDITIONAL CHECKBOX GROUP-->
          <h1 class="govuk-heading-xl">
            Add shortlisting methods
          </h1>
          <p class="govuk-body-l">You can return to this page later
            to add or change methods.</p>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="shortlisting-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

              </legend>
              <span id="shortlisting-hint" class="govuk-hint">
                Select all that apply.
              </span>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="shortlisting" name="citizen" type="checkbox"
                    value="text message" data-aria-controls="conditional-shortlisting">
                  <label class="govuk-label govuk-checkboxes__label" for="shortlisting">
                    Situational judgment test
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="shortlisting-2" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-shortlisting-2">
                  <label class="govuk-label govuk-checkboxes__label" for="shortlisting-2">
                    Critical analysis test
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="shortlisting-3" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-shortlisting-3">
                  <label class="govuk-label govuk-checkboxes__label" for="shortlisting-3">
                    Scenario test
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="shortlisting-4" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-shortlisting-4">
                  <label class="govuk-label govuk-checkboxes__label" for="shortlisting-4">
                    Paper sift
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}