{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="timeline" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Add shortlisting dates
          </h1>

          <p><a href="live-dates" target="blank">Check key dates of all live exercises.</a> <span id="event-name-hint"
              class="govuk-hint">
              Opens in a new window
            </span></p>
          <br>

          <!--DATE-->
          <div class="govuk-form-group">
            <p class="govuk-heading-l">Situational judgment test, Critical analysis test</p>
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Test date
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
              <br>
              </details>
          </div>
        </div>
      </div>
      </fieldset>



      <!--DATE-->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Test outcome
          </legend>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                  name="passport-issued-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                  name="passport-issued-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!--DATE-->
      <div class="govuk-form-group">
        <p class="govuk-heading-l">Scenario test</p>
        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Test date
          </legend>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                  name="passport-issued-day" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                  name="passport-issued-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                  name="passport-issued-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
        <br>
      </div>

      <!--DATE-->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Test evaluation date
          </legend>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                  name="passport-issued-day" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                  name="passport-issued-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                  name="passport-issued-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
        <br>
      </div>


      <!--DATE-->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Test outcome
          </legend>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                  name="passport-issued-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                  name="passport-issued-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
      </div>


      <!--BUTTON-->
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <!--END MAIN WRAPPER-->
</div>
</div>
</form>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}