{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="timeline" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Check other teams' activities
          </h1>


          <p>You should not plan candidate activities when other teams have: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>situational judgment, critical analysis or scenario tests</li>
            <li>test grading or marking</li>
            <li>sifts</li>
            <li>selection days</li>
          </ul>



          <br>

          <!--DATE-->

          <p class="govuk-heading-l">Scheduled situational judgment, critical analysis or scenario tests</p>

          <br>
          <p class="govuk-heading-l">Test grading or marking</p>



          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Close tab
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}