{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="vacancies" method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-caption-xl">003</span>
          <h1 class="govuk-heading-xl">Salaried Judge of the Upper Tribunal, Immigration and Asylum Chamber</h1>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--highlight">
            <div class="govuk-panel__body">
              Closing for applications
            </div>
            <h1 class="govuk-panel__title">13:00 on<br>Monday 14 October</h1>
            <div class="govuk-panel__body">
              <strong>14</strong> working days
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <a href="#" class="govuk-button govuk-button--secondary" style="margin-right: 0.75rem;">
            Edit exercise
          </a>
          <br>
          <a href="#" class="govuk-body">
            View info page
          </a>


        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-panel--s govuk-panel--grey">
            <span class="govuk-panel__body">Number of applications</span>
            <h1 class="govuk-panel__title"><a href="#">76</a></h1>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-panel--s govuk-panel--grey">
            <span class="govuk-panel__body">Number of <br>vacancies</span>
            <h1 class="govuk-panel__title">90</h1>
          </div>
        </div>
      </div>



    </form>

  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}