<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div style="text-align:right; margin-bottom: 0">
            <a href="#" class="govuk-button govuk-button--secondary" style="margin-bottom:0;">
                ☆ Add to favourites
            </a>
        </div>
        <span class="govuk-caption-xl">118<strong class="govuk-tag__exercise govuk-tag__exercise--type">
                Legal
            </strong></span>
        <h1 class="govuk-heading-xl">Senior circuit judge of the Employment Appeal Tribunal
        </h1>
    </div>
</div>