<div class="govuk-grid-column-one-quarter">
  <ul class="dwp-vertical-navigation">
    <li>
      <a {% if getData.current === "tab-overview" %} aria-current="page" {% endif %}
        href="tab-overview?current=tab-overview">
        Overview
      </a>
    </li>
    <li>
      <a {% if getData.current === "tab-applications" %} aria-current="page" {% endif %}
        href="tab-applications?current=tab-applications">
        Applications
      </a>
    </li>
    <li>
      <a {% if getData.current === "tab-contacts" %}aria-current="page" {% endif 
        %} href="tab-contacts?current=tab-contacts">
        Contacts
      </a>
    </li>
    <li>
      <a {% if getData.current === "tab-shortlisting" %}aria-current="page" {% endif 
        %} href="tab-shortlisting?current=tab-shortlisting">
        Shortlisting
      </a>
    </li>
    <li>
      <a {% if getData.current === "tab-timeline" %}aria-current="page" {% endif 
          %} href="tab-timeline?current=tab-timeline">
        Timeline
      </a>
    </li>
    <li>
      <a {% if getData.current === "tab-vacancy" %}aria-current="page" {% endif 
        %} href="tab-vacancy?current=tab-vacancy">
        Vacancy information
      </a>
    </li>
    <li>
      <a {% if getData.current === "tab-eligibility" %}aria-current="page" {% endif 
        %} href="tab-eligibility?current=tab-eligibility">
        Eligibility information
      </a>
    </li>
  </ul>
  <!--LINK-->
  <p class="govuk-body-s"><a target="blank"
      href="https://www.judicialappointments.gov.uk/138-deputy-judge-upper-tribunal-immigration-and-asylum-chamber-information-page">
      View info page
    </a></p>
  <p class="govuk-body-s">
    <a target="blank" href="#">
      View application form
    </a>
  </p>
  <!--<a href="#" class="govuk-button govuk-button--warning">
    Delete exercise
  </a>-->
  <p class="govuk-body-s">
    <a target="blank" href="#">
      Change name of exercise
    </a>
  </p>
</div>