<!--DWP TIMELINE-->
<ol class="dwp-timeline govuk-list">
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">23 July 2019</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Open for applications</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">6 August 2019</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Closed for applications</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">17 September 2019</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Situational judgment test, Critical analysis
                test</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">September 2019</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Situational judgment test, Critical analysis test
                outcome</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">8 October 2019</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Scenario test</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">15 October 2019</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Scenario test evaluation date</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">November 2019</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Scenario test outcome</span></p>
    </li>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">November 2019</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Eligibility checks</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">29 November 2019</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Contact independent assessors</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">20 January 2020 to 24 January 2020</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Selection day</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">March 2020</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Character checks</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">March 2020</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Statutory consultation</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">June 2020</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">Selection process outcome</span></p>
    </li>
</ol>
<!--TIMELINE-->