<!--DWP TIMELINE-->
<ol class="dwp-timeline govuk-list">
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Open for applications</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">23 July 2019</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Closed for applications</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">6 August 2019</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">QT</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">17 September 2019 - 7:00am to 9:00pm</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">QT outcome to candidates</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">September 2019</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Scenario test
        </h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">8 October 2019 - 7:00am to 9:00pm</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Scenario test outcome to
            candidates</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">15 October 2019</span></p>
    </li>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Contact independent assessors</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">29 November 2019</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Selection day</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">20 January 2020 to 24 January 2020<br>Clive
                House</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Character checks</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">March 2020</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Statutory consultation</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">March 2020</span></p>
    </li>
    <li class="dwp-timeline__entry">
        <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Selection process outcome</h3>
        <p class="dwp-timeline__info"><span class="dwp-timeline__date">June 2020</span></p>
    </li>
</ol>
<!--TIMELINE-->