{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="qualifications" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <span class="govuk-caption-xl">003</span>
          <h1 class="govuk-heading-xl">Salaried Judge of the Upper Tribunal, Immigration and Asylum Chamber</h1>

          <!--TABLE-->
          <h2 class="govuk-heading-l">Role information</h2>
          <a href="#">Change</a>
          <h3 class="govuk-heading-m">Number of vacancies</h3>

          <div class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Immediate start
              </dt>
              <dd class="govuk-summary-list__value">
                27
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Future start
              </dt>
              <dd class="govuk-summary-list__value">
                2
              </dd>
            </div>
          </div>


          <div class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Vacancy locations
              </dt>
              <dd class="govuk-summary-list__value">
                All locations in England and wales
              </dd>
            </div>
          </div>


          <div class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Jurisdictions
              </dt>
              <dd class="govuk-summary-list__value">
                All England and Wales
              </dd>
            </div>
          </div>

          <h3 class="govuk-heading-m">Appointment type</h3>
          <div class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Salaried
              </dt>
              <dd class="govuk-summary-list__value">
                £120,000 a year
              </dd>
            </div>
          </div>


          <div class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are work expenses paid?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is a pension paid?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
          </div>

          <div class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is salaried part-time working offered?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
          </div>

          <div class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is there a Welsh requirement?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
          </div>
          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Add eligibility information
          </button>

        </div>
      </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}