{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Detail page</h1>
      </div>
    </div>

    <p class="govuk-body">Refer to the <a href="/">homepage</a> to see the latest version of the exercise detail page.
    </p>



  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}