{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}
  <p><a href="#" class="govuk-back-link">Back</a></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="/view-an-exercise/v1-2-august-30/overview-banner" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <!--PAGE TITLE-->
          <h3 class="govuk-heading-xl">
            Add eligibility information
          </h3>
          <p class="govuk-body-l">You'll find this information in the eligibility statement from HMCTS.</p>
          <br>

          <!--CONDITIONAL CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Qualifications
                </h1>
              </legend>
              <span id="citizenship-conditional-hint" class="govuk-hint">
                Select all that apply.
              </span>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Advocate – enrolled with the Scottish bar
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Barrister
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    CILEx fellow (this might be called Fellow ILEX)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox"
                    value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                    Solicitor
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox"
                    value="text message" data-aria-controls="conditional-citizenship-conditional-3">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                    Other
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-citizenship-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-fieldset__legend--s" for="contact-by-text">
                      Add details of other relevant professions, qualifications or experience
                    </label>
                    <span id="citizenship-conditional-hint" class="govuk-hint" style="margin-bottom:0px;">
                      For example, Recorder.
                    </span>
                    <input class="govuk-input govuk-!-width-full" id="contact-by-text" name="contact-by-text"
                      type="tel">
                  </div>
                </div>

              </div>
            </fieldset>
          </div>
          <!--RADIO GROUP-->

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Does Schedule 2(d) apply?
                </h1>
                This lets appropriate candidates apply, even if they do not have the right legal experience.

                (3)
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                    value="email" data-aria-controls="conditional-how-contacted-conditional">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                    value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


          <!--CONDITIONAL RADIO GROUP
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="additional-selection-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Does Schedule 2 (d) apply?
                </h1>
              </legend>
              <span id="event-name-hint" class="govuk-hint">
                This allows candidates to have alternative qualifications. It only applies to tribunal vacancies.
              </span>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="schedule2-yes" name="additional-selection" type="radio"
                    value="text" data-aria-controls="conditional-schedule2-yes">
                  <label class="govuk-label govuk-radios__label" for="schedule2-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-schedule2-yes">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-text">
                      Add details
                    </label>
                    <div class="govuk-form-group">
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="schedule2-no" name="additional-selection" type="radio"
                    value="email" data-aria-controls="conditional-schedule2-no">
                  <label class="govuk-label govuk-radios__label" for="schedule2-no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          -->

          <!--CONDITIONAL RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Post-qualification experience (PQE)
                </h1>
              </legend>
              <span id="event-name-hint" class="govuk-hint">
                This is the minimum number of years of law-related work experience the candidate must have.
              </span>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-0" name="how-contacted" type="radio"
                    value="email" data-aria-controls="conditional-how-contacted-conditional-0">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-0">
                    Not applicable
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                    value="email" data-aria-controls="conditional-how-contacted-conditional">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    5 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                    value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    7 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio"
                    value="text" data-aria-controls="conditional-how-contacted-conditional-3">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                    Other
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-how-contacted-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-text">
                      Number of years
                    </label>
                    <input class="govuk-input govuk-!-width-one-quarter" id="contact-by-text" name="contact-by-text"
                      type="tel">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--CONDITIONAL RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="additional-selection-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Does additional selection criteria (ASC) apply?
                </h1>
              </legend>
              <span id="event-name-hint" class="govuk-hint">
                This is also known as non-statutory eligibility. It describes what additional skills or experience
                candidates must have.
              </span>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="additional-selection-conditional-3" name="additional-selection"
                    type="radio" value="text" data-aria-controls="conditional-additional-selection-conditional-3">
                  <label class="govuk-label govuk-radios__label" for="additional-selection-conditional-3">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-additional-selection-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-text">
                      Additional skills and experience
                    </label>
                    <div class="govuk-form-group">
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="additional-selection-conditional" name="additional-selection"
                    type="radio" value="email" data-aria-controls="conditional-additional-selection-conditional">
                  <label class="govuk-label govuk-radios__label" for="additional-selection-conditional">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--CONDITIONAL RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="reasonable-length-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Reasonable length of service
                </h1>
              </legend>
              <span id="event-name-hint" class="govuk-hint">
                This is the minimum number of years the candidate must work.
              </span>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="reasonable-length-conditional-0" name="reasonable-length"
                    type="radio" value="email" data-aria-controls="conditional-reasonable-length-conditional-0">
                  <label class="govuk-label govuk-radios__label" for="reasonable-length-conditional-0">
                    3 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="reasonable-length-conditional-1" name="reasonable-length"
                    type="radio" value="email" data-aria-controls="conditional-reasonable-length-conditional-1">
                  <label class="govuk-label govuk-radios__label" for="reasonable-length-conditional-1">
                    4 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="reasonable-length-conditional-2" name="reasonable-length"
                    type="radio" value="email" data-aria-controls="conditional-reasonable-length-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="reasonable-length-conditional-2">
                    5 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="reasonable-length-conditional-3" name="reasonable-length"
                    type="radio" value="text" data-aria-controls="conditional-reasonable-length-conditional-3">
                  <label class="govuk-label govuk-radios__label" for="reasonable-length-conditional-3">
                    Other
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-reasonable-length-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-text">
                      Number of years
                    </label>
                    <input class="govuk-input govuk-!-width-one-quarter" id="contact-by-text" name="contact-by-text"
                      type="tel">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="exercise-name">
              Retirement age
            </label>
            <span id="citizenship-conditional-hint" class="govuk-hint">
              This is usually 70 years.
            </span>
            <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text"><span
              class="govuk-body" style="margin-left: 10px;">years</span>
          </div>

          <!--BUTTON-->

          <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start"
            data-module="govuk-button">
            Create exercise
          </a>
          <!--NORMAL BUTTON
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Create exercise
          </button>
          -->

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}