{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}<p><br></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <!--PAGE TITLE-->
        <h1 class="govuk-heading-xl">
          Key dates of all JAC exercises
        </h1>
        <p class="govuk-body-l">Check dates to avoid for your exercise.</p>
      </div>
    </div>

    <p>
      <a class="govuk-link" href="#date1">September</a> |

      <a class="govuk-link" href="#date2">October</a> |

      <a class="govuk-link" href="#date3">November</a> |

      <a class="govuk-link" href="#">December</a> |

      <a class="govuk-link" href="#">January</a> |

      <a class="govuk-link" href="#">February</a>
    </p>

    <h2 class="govuk-heading-m" id="date1">
      September
    </h2>
    <!--TABLE-->
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">30 Sep to 4 Oct</th>
          <td class="govuk-table__cell"><a href="#">315 First Tier Tribunal Judges</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m" id="date2">
      October
    </h2>
    <!--TABLE-->
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">30 Sep to 4 Oct</th>
          <td class="govuk-table__cell"><a href="#">315 First Tier Tribunal Judges</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>

        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">2 Oct</th>
          <td class="govuk-table__cell"><a href="#">344 VTE Chairmen</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--qt">QT</span></td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">7 Oct</th>
          <td class="govuk-table__cell"><a href="#">341 First Tier Tribunal Lay Member Information Rights</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--sift">Sift</span>
          </td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">7 Oct to 18 Oct</th>
          <td class="govuk-table__cell"><a href="#">339 Deputy Judges UT IAC</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8 Oct</th>
          <td class="govuk-table__cell"><a href="#">334 Recorder</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--qt">QT</span></td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">10 Oct to 11 Oct</th>
          <td class="govuk-table__cell"><a href="#">376 Resident Judge Teeside & Wales</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">14 Oct to 18 Oct</th>
          <td class="govuk-table__cell"><a href="#">315 First Tier Tribunal Judges</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">21 Oct to 25 Oct</th>
          <td class="govuk-table__cell"><a href="#">335 Chairman Health Service Products Appeal Tribunals</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">21 Oct to 25 Oct</th>
          <td class="govuk-table__cell"><a href="#">336 Chairman Health Service Products Appeal Tribunals</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">21 Oct to 25 Oct</th>
          <td class="govuk-table__cell"><a href="#">317 Deputy District Judge</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">30 Oct</th>
          <td class="govuk-table__cell"><a href="#">378 Senior Circuit Judge</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--sift">Sift</span>
          </td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m" id="date3">
      November
    </h2>
    <!--TABLE-->
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">4 Nov to 8 Nov</th>
          <td class="govuk-table__cell"><a href="#">317 Deputy District Judge</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>

        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">4 Nov to 11 Nov</th>
          <td class="govuk-table__cell"><a href="#">337 Professional Members First Tier Tribunal, Property</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>

        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">5 Nov</th>
          <td class="govuk-table__cell"><a href="#">342 Deputy Regional Valuer</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--selection">Selection
            </span></td>
          <td class="govuk-table__cell">Clive House</td>

        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">6 Nov</th>
          <td class="govuk-table__cell"><a href="#">347 Tribunal President Employment</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--sift">Sift</span>
          </td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">7 Nov</th>
          <td class="govuk-table__cell"><a href="#">384 Tribunal President HESC</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--sift">Sift</span>
          </td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">14 Nov</th>
          <td class="govuk-table__cell"><a href="#">375 Educational Panel Members SENTW</a></td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--qt">QT</span></td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">15 Nov</th>
          <td class="govuk-table__cell"><a href="#">381 Principal Judge for the Land Registration Tribunal</a>
          </td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--sift">Sift</span>
          </td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">18 Nov</th>
          <td class="govuk-table__cell"><a href="#">348 Judge Advocate General</a>
          </td>
          <td class="govuk-table__cell"><span class="govuk-tag__exercise govuk-tag__exercise--sift">Sift</span>
          </td>
          <td class="govuk-table__cell">Clive House</td>
        </tr>
      </tbody>
    </table>
    <!--END TABLE-->

    <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}