{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="vacancy" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Add exercise timeline
          </h1>

          <p class="govuk-body-l">You can return to this page later
            to add or change dates.</p>
          <br>

          <p><a href="live-dates" target="blank">View key dates of all JAC exercises.</a> <span id="event-name-hint"
              class="govuk-hint">
              This can help you plan your own key dates (opens in a new tab).
            </span></p>
          <br>

          <!--SUB TITLE-->
          <h2 class="govuk-heading-l">
            Application dates
          </h2>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Open for applications
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Closed for applications
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>





          <div class="govuk-form-group">
            <p class="govuk-heading-l">Situational judgment test, Critical analysis test</p>
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Test open date
              </legend>
              <span id="waste-hint" class="govuk-hint">
                For example, 31 05 2020
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Test open time
              </legend>
              <div class="govuk-date-input__item" style="margin-right:10px;">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-hour">
                    Hour
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-hour"
                    name="passport-issued-hour" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                <p class="govuk-body" style="display: inline;">:</p>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-minute">
                    Minute
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-minute"
                    name="passport-issued-minute" type="number" pattern="[0-9]*">
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Test outcome
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>


          <!--SUB TITLE-->
          <h2 class="govuk-heading-l">
            Independent assessment dates
          </h2>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Contact independent assessors
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--SUB TITLE-->
          <h2 class="govuk-heading-l">
            Selection day dates
          </h2>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Selection day start
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Selection day end
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
            <p class="govuk_body" style="margin-top:20px;">
              <a href="#">Add another</a>
            </p>
          </div>


          <h2 class="govuk-heading-l">
            Final selection dates
          </h2>
          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Eligibility checks
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Character checks
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Statutory consultation
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-minute">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-minute"
                      name="passport-issued-minute" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <h2 class="govuk-heading-m">
                Selection process outcome
              </h2>
              <span id="waste-hint" class="govuk-hint">
                This is when we expect to inform candidates.
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>


          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

  </form>

  {% endblock %}