{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}
  <p><a href="shortlisting" class="govuk-back-link">Back</a></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="vacancy" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Add exercise timeline
          </h1>

          <p class="govuk-body-l">You can return to this page later
            to add or change dates.</p>
          <br>

          <p><a href="live-dates" target="blank">View key dates of all JAC exercises.</a>
            <span id="event-name-hint" class="govuk-hint">
              This can help you plan your own key dates (opens in a new tab).
            </span></p>
          <br>

          <!--SUB TITLE-->
          <h2 class="govuk-heading-l">
            Application dates
          </h2>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Open for applications
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Closed for applications
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <p class="govuk-heading-l">Shortlisting dates</p>
            <p class="govuk-heading-m">Situational judgement qualifying test (QT), Critical analysis qualifying test
              (QT)
            </p>

            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Test date
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Start time
              </legend>
              <div class="govuk-date-input__item" style="margin-right:10px;">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-hour">
                    Hour
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-hour"
                    name="passport-issued-hour" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                <p class="govuk-body" style="display: inline;">:</p>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-minute">
                    Minute
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-minute"
                    name="passport-issued-minute" type="number" pattern="[0-9]*">
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                End time
              </legend>
              <div class="govuk-date-input__item" style="margin-right:10px;">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-hour">
                    Hour
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-hour"
                    name="passport-issued-hour" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                <p class="govuk-body" style="display: inline;">:</p>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-minute">
                    Minute
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-minute"
                    name="passport-issued-minute" type="number" pattern="[0-9]*">
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Outcome to candidates
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>


          <p class="govuk-heading-m">Scenario test qualifying test (QT)
          </p>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Test date
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Start time
              </legend>
              <div class="govuk-date-input__item" style="margin-right:10px;">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-hour">
                    Hour
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-hour"
                    name="passport-issued-hour" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                <p class="govuk-body" style="display: inline;">:</p>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-minute">
                    Minute
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-minute"
                    name="passport-issued-minute" type="number" pattern="[0-9]*">
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                End time
              </legend>
              <div class="govuk-date-input__item" style="margin-right:10px;">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-hour">
                    Hour
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-hour"
                    name="passport-issued-hour" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                <p class="govuk-body" style="display: inline;">:</p>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-minute">
                    Minute
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-minute"
                    name="passport-issued-minute" type="number" pattern="[0-9]*">
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Outcome to candidates
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>


          <!--SUB TITLE-->
          <h2 class="govuk-heading-l">
            Independent assessors
          </h2>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Contact independent assessors
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Email reminders will be sent to assessors who have not responded after 2 weeks.
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
            </fieldset>
          </div>


          <!--SUB TITLE-->
          <h2 class="govuk-heading-l">
            Selection day
          </h2>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Selection day start
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Selection day end
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="exercise-regular">
              Location
            </label>
            <input class="govuk-input" id="exercise-regular" name="exercise-regular" type="text">
          </div>

          <p class="govuk_body" style="margin-top:30px;">
            <a href="#">Add another block</a>
          </p>



          <h2 class="govuk-heading-l">
            Candidate checks
          </h2>
          <!--DATE-->
          <!--ELIG
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Eligibility checks
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          -->

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Character checks
              </legend>
              <span id="event-name-hint" class="govuk-hint">
                This is the date when external character checks will be sent.
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Statutory consultation
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-minute">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-minute"
                      name="passport-issued-minute" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <!--DATE-->
          <h2 class="govuk-heading-l">
            Final outcome
          </h2>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

              <h2 class="govuk-heading-m">
                Final outcome to candidates
              </h2>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

              <!--BUTTON
               <h2 class="govuk-heading-m">
                Recommendation to Judicial Office
              </h2>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          -->

              <!--BUTTON-->
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
              </button>

              <!--END MAIN WRAPPER-->
          </div>
        </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

  </form>

  {% endblock %}