{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}
  <p><a href="timeline-qt" class="govuk-back-link">Back</a></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="eligibility" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->

          <h1 class="govuk-heading-xl">
            About the vacancy
          </h1>
          <p class="govuk-body-l">You'll find this information in the vacancy request (VR) from HMCTS.</p>
          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Type of exercise
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                    value="email" data-aria-controls="conditional-how-contacted-conditional">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    Legal
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                    value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    Non legal
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio"
                    value="text" data-aria-controls="conditional-how-contacted-conditional-3">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                    Senior
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-4" name="how-contacted" type="radio"
                    value="text" data-aria-controls="conditional-how-contacted-conditional-4">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-4">
                    Leadership
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Is the vacancy for a court or tribunal?
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Court
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Tribunal
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--TEXT AREA-->

          <div class="govuk-form-group">
            <label class="govuk-label-input" for="more-detail">
              Jurisdiction
            </label>
            <span id="more-detail-hint" class="govuk-hint">
              For example, Employment, Family. </span>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
              aria-describedby="more-detail-hint"></textarea>
          </div>

          <!--TEXT AREA-->

          <div class="govuk-form-group">
            <label class="govuk-label-input" for="more-detail">
              Location
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
              aria-describedby="more-detail-hint"></textarea>
          </div>



          <!--TEXT INPUT
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="exercise-name">
              Location
            </label>
            <input class="govuk-input" id="exercise-name" name="exercise-name" type="text">
          </div>
          -->

          <h2 class="govuk-label-input">
            Number of vacancies
          </h2>
          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-heading-s" for="exercise-name" style="margin-bottom:0px;">
              Immediate start
            </label>
            <span id="event-name-hint" class="govuk-hint">
              These are also called Section 87 (S87) vacancies.
            </span>
            <input class="govuk-input govuk-input--width-3" id="width-5" name="width-5" type="text">
          </div>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-heading-s" for="exercise-name" style="margin-bottom:0px;">
              Future start
            </label>
            <span id="event-name-hint" class="govuk-hint">
              These are also called Section 94 (S94) vacancies.
            </span>
            <input class="govuk-input govuk-input--width-3" id="width-5" name="width-5" type="text">
          </div>

          <!--RADIO CONDITIONAL GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Appointment type
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                    value="email" data-aria-controls="conditional-how-contacted-conditional">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    Salaried
                  </label>
                </div>
                <!--CONDITIONAL CURRENCY-->
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-how-contacted-conditional">
                  <div class="govuk-form-group">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                        <label class="govuk-fieldset__legend--s" for="contact-by-email">
                          Salary
                        </label>
                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <span class="moj-label__currency">£test</span>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-5"
                                id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*"
                                placeholder="£">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <p class="govuk-body">.</p>
                          </div>
                          <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                            <div class="govuk-form-group">
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-hour" name="passport-issued-hour" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                    value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    Fee paid
                  </label>
                </div>
                <!--RADIO CONDITIONAL GROUP-->
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-how-contacted-conditional-2">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                      <label class="govuk-fieldset__legend--s" for="contact-by-email">
                        Fee
                      </label>
                      <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <input class="govuk-input govuk-date-input__input govuk-input--width-5"
                              id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*"
                              placeholder="£">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <p class="govuk-body">.</p>
                        </div>
                        <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                          <div class="govuk-form-group">
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                              id="passport-issued-hour" name="passport-issued-hour" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio"
                    value="phone">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                    Unpaid
                  </label>
                </div>
            </fieldset>
          </div>

          <!--CONDITIONAL RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="additional-selection-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Is salaried part-time working (SPTW) offered?
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="additional-selection-conditional-2" name="additional-selection"
                    type="radio" value="text" data-aria-controls="conditional-additional-selection-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="additional-selection-conditional-2">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-additional-selection-conditional-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-text">
                      Add details
                    </label>
                    <div class="govuk-form-group">
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="additional-selection-conditional-3" name="additional-selection"
                    type="radio" value="text" data-aria-controls="conditional-additional-selection-conditional-3">
                  <label class="govuk-label govuk-radios__label" for="additional-selection-conditional-3">
                    No
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-additional-selection-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-text">
                      Add why SPTW is not offered
                    </label>
                    <div class="govuk-form-group">
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Welsh requirement
                </h1>
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply.
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Welsh language
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Devolution questions
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--TEXT AREA-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="more-detail">
              About the role
            </label>
            <span id="more-detail-hint" class="govuk-hint">
              Add information about this role for the information page.
            </span>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
              aria-describedby="more-detail-hint"></textarea>
          </div>

          <!--NICKED FROM DWP-->


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Upload HMCTS documents
                </h2>
              </legend>
              <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                  Upload job description
                </label>
                <input class="govuk-file-upload" id="file-upload-0" name="file-upload-0" type="file">
              </div>
            </fieldset>
          </div>
    </form>

    <form action="/wcv5/add-clerical-upload-evidence" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              Upload terms and conditions
            </label>
            <input class="govuk-file-upload" id="file-upload-0" name="file-upload-0" type="file">
          </div>
        </fieldset>
      </div>
    </form>



    <!-- <old upload>
          <p class="govuk-fieldset__legend govuk-fieldset__legend--m" style="margin-bottom:10px;">
            Job description
          </p>
          <span id="event-name-hint" class="govuk-hint">
            Upload the job description document from HMCTS.
          </span>
          <p class="govuk-body"><a href="#">Upload</a></p>
          <br>
</old upload> -->

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

    <!--END MAIN WRAPPER-->
</div>
</div>
</form>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}