{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="vacancies" method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-caption-xl">118<strong class="govuk-tag__exercise-type">
              Legal
            </strong></span>
          <h1 class="govuk-heading-xl" style="margin-bottom:0px;">Senior circuit judge of the Employment Appeal Tribunal
          </h1>
          <div style="text-align: right;"> <a href="#" class="govuk-button govuk-button--secondary">
              ➕Add to your exercises
            </a>
          </div>
        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--highlight">
            <h1 class="govuk-panel__title">Open for applications</h1>
            <div class="govuk-panel__body">
              14 working days left
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">

          <!--GREY PANEL-->
          <div class="govuk-panel--s govuk-panel--grey">
            <span class="govuk-panel__body">Number of vacancies</span>
            <h1 class="govuk-panel__title">90</h1>
          </div>

          <!--GREY PANEL-->
          <div class="govuk-panel--s govuk-panel--grey">
            <span class="govuk-panel__body">Number of applications</span>
            <h1 class="govuk-panel__title">76</h1>
            <p class="govuk-body"><a href="#">View applications</a></p>
          </div>

          <h2 class="govuk-heading-m">Next dates
          </h2>
          <!--TIMELINE-->
          <ol class="dwp-timeline govuk-list">
            <li class="dwp-timeline__entry" style="margin-top: 0px;">
              <h3 class="govuk-heading-s" style="margin-bottom: 5px;">6 August 2019</h3>
              <p class="dwp-timeline__info"><span class="dwp-timeline__date">Closed for applications</span></p>
            </li>
            <li class="dwp-timeline__entry">
              <h3 class="govuk-heading-s" style="margin-bottom: 5px;">17 September 2019</h3>
              <p class="dwp-timeline__info"><span class="dwp-timeline__date">Situational judgment test, Critical
                  analysis
                  test</span></p>
            </li>
          </ol>
          <!--TIMELINE-->

          <h2 class="govuk-heading-m">Senior Selection Exercise Manager
          </h2>
          <p class="govuk-body">Sally Senior</p>

          <p class="govuk-body"><a target="blank"
              href="https://www.judicialappointments.gov.uk/138-deputy-judge-upper-tribunal-immigration-and-asylum-chamber-information-page">
              View info page
            </a></p>
          <p class="govuk-body">
            <a target="blank"
              href="https://www.judicialappointments.gov.uk/138-deputy-judge-upper-tribunal-immigration-and-asylum-chamber-information-page">
              View application form
            </a>
          </p>

        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        </div>

        <div class="govuk-grid-column-two-thirds">
        </div>

      </div>



      <!--TAB DATA-->


      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#past-day">
              Exercise contacts
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
              Timeline dates
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-month">
              Vacancy information
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-year">
              Eligibility information
            </a>
          </li>
        </ul>
        <section class="govuk-tabs__panel" id="past-day">
          <div style="text-align: right;"> <a href="#" class="govuk-body">
              Update exercise contacts
            </a>
          </div>
          <h2 class="govuk-heading-l">JAC contacts</h2>

          <p class="govuk-body"><strong>Exercise mailbox</strong><br>123-recorder@jac.gov.uk</p>

          <table class="govuk-table">
            <thead class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Role</th>
                <th scope="col" class="govuk-table__header">Email</th>
                <th scope="col" class="govuk-table__header">Phone</th>
              </tr>
            </thead>

            <tr class="govuk-table__row"></tr>
            <td class="govuk-table__cell">Mark Policy</td>
            <td class="govuk-table__cell">Policy contact</td>
            <td class="govuk-table__cell">mark.policy@jac.gov.uk</td>
            <td class="govuk-table__cell">0208 123 4567</td>
            </tr>
            <tr class="govuk-table__row"></tr>
            <td class="govuk-table__cell">Francis Level</td>
            <td class="govuk-table__cell">Equality and diversity contact</td>
            <td class="govuk-table__cell">francis.level@jac.gov.uk</td>
            <td class="govuk-table__cell">0208 123 4567</td>

            </tr>
            <tr class="govuk-table__row"></tr>
            <td class="govuk-table__cell">Sally Senior</td>
            <td class="govuk-table__cell">Senior selection exercise manager</td>
            <td class="govuk-table__cell">sally.senior@jac.gov.uk</td>
            <td class="govuk-table__cell">0208 123 4567</td>

            </tr>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Madeeha Manager</td>
                <td class="govuk-table__cell">Selection exercise manager</td>
                <td class="govuk-table__cell">madeeha.manager@jac.gov.uk</td>
                <td class="govuk-table__cell">0208 123 4567</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Ollie Officer</td>
                <td class="govuk-table__cell">Selection exercise officer</td>
                <td class="govuk-table__cell">ollie.officer@jac.gov.uk</td>
                <td class="govuk-table__cell">0208 123 4567</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Jack Officer</td>
                <td class="govuk-table__cell">Selection exercise officer</td>
                <td class="govuk-table__cell">jack.officer@jac.gov.uk</td>
                <td class="govuk-table__cell">0208 123 4567</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Stacey Officer</td>
                <td class="govuk-table__cell">Selection exercise officer</td>
                <td class="govuk-table__cell">stacey.officer@jac.gov.uk</td>
                <td class="govuk-table__cell">0208 123 4567</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Aarush Assigned</td>
                <td class="govuk-table__cell">Assigned commissioner</td>
                <td class="govuk-table__cell">aarush.assigned@jac.gov.uk</td>
                <td class="govuk-table__cell">0208 123 4567</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Charlie Common</td>
                <td class="govuk-table__cell">Assigned commissioner</td>
                <td class="govuk-table__cell">charlie.common@jac.gov.uk</td>
                <td class="govuk-table__cell">0208 123 4567</td>
              </tr>
            </tbody>
          </table>

          <h2 class="govuk-heading-l">Other contacts</h2>

          <table class="govuk-table">

            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Role</th>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Lord Chancellor</td>
              <td class="govuk-table__cell">Appropriate Authority</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Patrick Wright</td>
              <td class="govuk-table__cell">Judicial Office contact</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Julie Rogers</td>
              <td class="govuk-table__cell">HMCTS or Welsh Government lead</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">William Buckley</td>
              <td class="govuk-table__cell">Lead judge</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Susan Rogers</td>
              <td class="govuk-table__cell">Drafting judge</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Penelope Frank</td>
              <td class="govuk-table__cell">Drafting judge</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Penelope Frank</td>
              <td class="govuk-table__cell">Drafting judge</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Timothy Wallace</td>
              <td class="govuk-table__cell">Statutory consultee</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Liam Constance</td>
              <td class="govuk-table__cell">Statutory consultee</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Mary Vallant</td>
              <td class="govuk-table__cell">Other stakeholders</td>
            </tr>
          </table>

        </section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
          <div style="text-align: right;"> <a href="#" class="govuk-body">
              Update timeline
            </a>
          </div>
          <h2 class="govuk-heading-l">Timeline</h2>

          {% include "includes/timeline.html" %}


        </section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
          <h2 class="govuk-heading-l">Past month</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">98</td>
                <td class="govuk-table__cell">95</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">122</td>
                <td class="govuk-table__cell">131</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">126</td>
                <td class="govuk-table__cell">142</td>
              </tr>
            </tbody>
          </table>

        </section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
          <h2 class="govuk-heading-l">Past year</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">1380</td>
                <td class="govuk-table__cell">1472</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">1129</td>
                <td class="govuk-table__cell">1083</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">1539</td>
                <td class="govuk-table__cell">1265</td>
              </tr>
            </tbody>
          </table>

        </section>
      </div>







    </form>

  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}