{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="vacancies" method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-caption-xl">118<strong class="govuk-tag__exercise-type">
              Legal
            </strong></span>
          <h1 class="govuk-heading-xl" style="margin-bottom:0px;">Senior circuit judge of the Employment Appeal Tribunal
          </h1>
          <div style="text-align: right;"> <a href="#" class="govuk-button govuk-button--secondary">
              ➕Add to your exercises
            </a>
          </div>
        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--highlight">
            <h1 class="govuk-panel__title">Open for applications</h1>
            <div class="govuk-panel__body">
              14 working days left
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">

          <!--GREY PANEL-->
          <div class="govuk-panel--s govuk-panel--grey">
            <span class="govuk-panel__body">Number of vacancies</span>
            <h1 class="govuk-panel__title">90</h1>
          </div>

          <!--GREY PANEL-->
          <div class="govuk-panel--s govuk-panel--grey">
            <span class="govuk-panel__body">Number of applications</span>
            <h1 class="govuk-panel__title">76</h1>
            <p class="govuk-body"><a href="#">View applications</a></p>
          </div>

          <h2 class="govuk-heading-m">Upcoming dates
          </h2>
          <!--TIMELINE-->
          <ol class="dwp-timeline govuk-list">
            <li class="dwp-timeline__entry" style="margin-top: 0px;">
              <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Closed for applications</h3>
              <p class="dwp-timeline__info"><span class="dwp-timeline__date">6 August 2019</span></p>
            </li>
            <li class="dwp-timeline__entry">
              <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Situational judgment test, Critical analysis test
              </h3>
              <p class="dwp-timeline__info"><span class="dwp-timeline__date">17 September 2019</span></p>
            </li>
          </ol>
          <!--TIMELINE-->

          <h2 class="govuk-heading-m">Senior Selection Exercise Manager
          </h2>
          <p class="govuk-body">Sally Senior</p>

          <p class="govuk-body"><a target="blank"
              href="https://www.judicialappointments.gov.uk/138-deputy-judge-upper-tribunal-immigration-and-asylum-chamber-information-page">
              View info page
            </a></p>
          <p class="govuk-body">
            <a target="blank"
              href="https://www.judicialappointments.gov.uk/138-deputy-judge-upper-tribunal-immigration-and-asylum-chamber-information-page">
              View application form
            </a>
          </p>

        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        </div>

        <div class="govuk-grid-column-two-thirds">
        </div>

      </div>



      <!--TABS-->
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#past-day">
              Exercise contacts
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
              Timeline dates
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-month">
              Vacancy information
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-year">
              Eligibility information
            </a>
          </li>
        </ul>

        <!--TAB CONTACTS-->
        <section class="govuk-tabs__panel" id="past-day">

          <!--LINK-->
          <div style="text-align: right;">
            <a href="#" class="govuk-body">Update exercise contacts</a>
          </div>

          <!--HEADER-->
          <h2 class="govuk-heading-l">JAC contacts</h2>

          <p class="govuk-body"><strong>Exercise mailbox</strong><br>123-recorder@jac.gov.uk</p>

          <!--TABLE-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Policy contact</th>
                <td class="govuk-table__cell">Mark Policy</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Equality and diversity contact</th>
                <td class="govuk-table__cell">Francis Level</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Senior selection exercise manager</th>
                <td class="govuk-table__cell">Sally Senior</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Selection exercise manager</th>
                <td class="govuk-table__cell">Madeeha Manager</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Selection exercise officers</th>
                <td class="govuk-table__cell">Ollie Officer<br>Jack Officer<br>Stacey Officer</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Assigned commissioners</th>
                <td class="govuk-table__cell">Aarush Assigned<br>Charlie Common</td>
              </tr>
            </tbody>
          </table>

          <!--HEADER-->
          <h2 class="govuk-heading-l">Other contacts</h2>

          <!--TABLE-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Appropriate Authority</th>
                <td class="govuk-table__cell">Lord Chancellor</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Judicial Office contact</th>
                <td class="govuk-table__cell">Patrick Wright</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">HMCTS or Welsh Government lead</th>
                <td class="govuk-table__cell">Julie Rogers</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Lead judge</th>
                <td class="govuk-table__cell">William Buckley</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Drafting judge</th>
                <td class="govuk-table__cell">Susan Rogers<br>Drafting judge</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Penelope Frank</th>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Statutory consultee</th>
                <td class="govuk-table__cell">Timothy Wallace<br>Liam Constance</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Other stakeholders</th>
                <td class="govuk-table__cell">Mary Vallant</td>
              </tr>
            </tbody>
          </table>

        </section>

        <!--TAB TIMELINE-->
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">

          <!--LINK-->
          <div style="text-align: right;">
            <a href="#" class="govuk-body">Update timeline</a>
          </div>

          <!--HEADER-->
          <h2 class="govuk-heading-l">Timeline</h2>

          <!--TIMELINE-->
          {% include "includes/timeline-display.html" %}
        </section>

        <!--TAB VACANCY-->
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">

          <!--HEADER-->
          <h2 class="govuk-heading-l">Vacancy information</h2>

          <!--TABLE-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Is the vacancy for a court or tribunal?
                </th>
                <td class="govuk-table__cell">Null</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Jurisdiction
                </th>
                <td class="govuk-table__cell">Null</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Location</th>
                <td class="govuk-table__cell">Null</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Number of vacancies</th>
                <td class="govuk-table__cell">1 Immediate start (S87)<br>0 Future start (S94)</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Appointment type</th>
                <td class="govuk-table__cell">Null</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Salary</th>
                <td class="govuk-table__cell">Null</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Is salaried part-time working (SPTW) offered?
                </th>
                <td class="govuk-table__cell">Null</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Add details
                </th>
                <td class="govuk-table__cell">Null</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Welsh requirement
                </th>
                <td class="govuk-table__cell">Null</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Job description

                </th>
                <td class="govuk-table__cell">Null</td>
              </tr>
            </tbody>
          </table>

        </section>

        <!--TAB ELIGIBILITY-->
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">

          <!--HEADER-->
          <h2 class="govuk-heading-l">Past year</h2>

          <!--TABLE-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Policy contact</th>
                <td class="govuk-table__cell">Mark Policy</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Equality and diversity contact</th>
                <td class="govuk-table__cell">Francis Level</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Senior selection exercise manager</th>
                <td class="govuk-table__cell">Sally Senior</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Selection exercise manager</th>
                <td class="govuk-table__cell">Madeeha Manager</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Selection exercise officers</th>
                <td class="govuk-table__cell">Ollie Officer<br>Jack Officer<br>Stacey Officer</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Assigned commissioners</th>
                <td class="govuk-table__cell">Aarush Assigned<br>Charlie Common</td>
              </tr>
            </tbody>
          </table>

        </section>
      </div>
      <!--END TABS-->

    </form>

  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}