{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="vacancies" method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-caption-xl">118</span>
          <h1 class="govuk-heading-xl">Senior circuit judge of the Employment Appeal Tribunal</h1>
        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-panel govuk-panel--highlight">
            <div class="govuk-panel__body">
              Applications closed
            </div>

          </div>

        </div>
      </div>
      <a href="#" class="govuk-body">
        View information page
      </a>
      <div class="govuk-grid-row" style="margin-top: 20px;">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-l">Key contacts</h2>

          <p class="govuk-body"><strong>Senior Selection Exercise Manager:</strong> Mathilda Case</p>
        </div>

      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div id="step-by-step-navigation" data-module="govuk-gemstepnav" class="govuk-app-step-nav js-hidden "
            data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show" data-hide-text="hide"
            data-show-all-text="Show all" data-hide-all-text="Hide all">
            <ol class="app-step-nav__steps">
              <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" data-show
                id="check-youre-allowed-to-drive">
                <div class="app-step-nav__header js-toggle-panel" data-position="1">
                  <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                          <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> Oct<br>14
                          <span class="app-step-nav__circle-step-colon govuk-visually-hidden"
                            aria-hidden="true">:</span>
                        </span>
                      </span>
                    </span>
                    <span class="js-step-title">
                      Grade scenario tests
                    </span>
                  </h3>
                </div>

              </li>
              <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
                <div class="app-step-nav__header js-toggle-panel" data-position="2">
                  <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                          <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>Nov<br>14
                          <span class="app-step-nav__circle-step-colon govuk-visually-hidden"
                            aria-hidden="true">:</span>
                        </span>
                      </span>
                    </span>
                    <span class="js-step-title">
                      Notify candidates
                    </span>
                  </h3>
                </div>
                <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
                  <ol class="app-step-nav__list " data-length="1">
                    <li class="app-step-nav__list-item js-list-item ">

                    </li>
                  </ol>
                </div>
              </li>
            </ol>
          </div>
          <br>
          <h2 class="govuk-heading-s"><a href="#">View full timeline</a></h2>
        </div>
      </div>
</div>
<div class="govuk-grid-column-one-third">
  <div class="govuk-panel--s govuk-panel--grey">
    <span class="govuk-panel__body">Number of vacancies</span>
    <h1 class="govuk-panel__title">90</h1>
  </div>
</div>
<div class="govuk-grid-column-one-third">
  <div class="govuk-panel--s govuk-panel--grey">
    <span class="govuk-panel__body">Number of interested candidates</span>
    <h1 class="govuk-panel__title">168</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-panel--s govuk-panel--grey">
      <span class="govuk-panel__body">Number of applications</span>
      <h1 class="govuk-panel__title">76</h1>
      <a href="#">View candidates</a>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">



  </div>
</div>



<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Exercise contacts
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Timeline
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Vacancy details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Eligibility
      </a>
    </li>
  </ul>
  <section class="govuk-tabs__panel" id="past-day">

    <table class="govuk-table">
      <thead class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">JAC contacts</th>
          <th scope="col" class="govuk-table__header"> </th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tr class="govuk-table__row"></tr>
      <td class="govuk-table__cell">Senior selection exercise manager</td>
      <td class="govuk-table__cell">Saly Senior</td>
      <td class="govuk-table__cell">sally.senior@jac.gov.uk</td>
      </tr>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Selection exercise manager</td>
          <td class="govuk-table__cell">Madeeha Manager</td>
          <td class="govuk-table__cell">madeeha.manager@jac.gov.uk</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Selection exercise officer</td>
          <td class="govuk-table__cell">Ollie Officer</td>
          <td class="govuk-table__cell">ollie.officer@jac.gov.uk</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Assigned commissioner</td>
          <td class="govuk-table__cell">Aarush Assigned</td>
          <td class="govuk-table__cell">aarush.assigned@jac.gov.uk</td>
        </tr>
      </tbody>
      <br>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">HMCTS contact</th>
        <th scope="col" class="govuk-table__header"> </th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
      <a href="#" class="govuk-button govuk-button--secondary" style="margin-right: 0.75rem;">
        Edit contacts
      </a>
    </table>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Past week</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">18</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">27</td>
        </tr>
      </tbody>

      </thead>
    </table>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Past month</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">98</td>
          <td class="govuk-table__cell">95</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">122</td>
          <td class="govuk-table__cell">131</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">126</td>
          <td class="govuk-table__cell">142</td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Past year</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1380</td>
          <td class="govuk-table__cell">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1129</td>
          <td class="govuk-table__cell">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">1539</td>
          <td class="govuk-table__cell">1265</td>
        </tr>
      </tbody>
    </table>

  </section>
</div>


</form>

</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}