{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="length" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="additional-selection-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Additional selection criteria (ASC)
                </h1>
              </legend>
              <span id="event-name-hint" class="govuk-hint">
                This is the specific skills or experience the candidate must have
              </span>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="additional-selection-conditional-3" name="additional-selection"
                    type="radio" value="text" data-aria-controls="conditional-additional-selection-conditional-3">
                  <label class="govuk-label govuk-radios__label" for="additional-selection-conditional-3">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-additional-selection-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-text">
                      Add the additional experience the candidate must have
                    </label>
                    <div class="govuk-form-group">
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="additional-selection-conditional" name="additional-selection"
                    type="radio" value="email" data-aria-controls="conditional-additional-selection-conditional">
                  <label class="govuk-label govuk-radios__label" for="additional-selection-conditional">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </div>
      </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}