{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="test" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h3 class="govuk-heading-xl">
            Dates
          </h3>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Launch date and time
              </legend>
              <span id="waste-hint" class="govuk-hint">
                For example, 31 05 2020 at 09:00
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <p class="govuk-body">at</p>
                </div>
                <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-hour">
                      Hour
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-hour"
                      name="passport-issued-hour" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                  <p class="govuk-body" style="display: inline;">:</p>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-minute">
                      Minute
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-minute"
                      name="passport-issued-minute" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Closing date and time
              </legend>
              <span id="waste-hint" class="govuk-hint">
                For example, 14 06 2020 at 20:00
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <p class="govuk-body">at</p>
                </div>
                <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-hour">
                      Hour
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-hour"
                      name="passport-issued-hour" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item" style="margin-right: 0.75rem;">
                  <p class="govuk-body" style="display: inline;">:</p>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-minute">
                      Minute
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-minute"
                      name="passport-issued-minute" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </div>
      </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}