{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="location" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h3 class="govuk-heading-xl">
            About the role
          </h3>

          <h2 class="govuk-heading-m">
            Number of vacancies
          </h2>
          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-heading-s" for="exercise-name" style="margin-bottom:0px;">
              Immediate start
            </label>
            <span id="event-name-hint" class="govuk-hint">
              These are also called section 87 (S87) vacancies
            </span>
            <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
          </div>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-heading-s" for="exercise-name" style="margin-bottom:0px;">
              Future start
            </label>
            <span id="event-name-hint" class="govuk-hint">
              These are also called section 94 (S94) vacancies
            </span>
            <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
          </div>

          <!--CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Vacancy locations
                </h1>
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    All locations across England and Wales
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    North-west
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    North-east
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Midlands
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Wales
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    South-east
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    South-west
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Jurisdictions
                </h1>
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Civil
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Criminal
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Family
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--RADIO CONDITIONAL GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Appointment type
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                    value="email" data-aria-controls="conditional-how-contacted-conditional">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    Salaried
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-how-contacted-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Salary
                    </label>
                    <input placeholder="£" class="govuk-input govuk-!-width-one-third" id="contact-by-email"
                      name="contact-by-email" type="email" spellcheck="false">
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                    value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    Fee paid
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-how-contacted-conditional-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-phone">
                      Fee
                    </label>
                    <input placeholder="£" class="govuk-input govuk-!-width-one-third" id="contact-by-phone"
                      name="contact-by-phone" type="tel">
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio"
                    value="phone">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                    Unpaid
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


          <!--CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Additional benefits
                </h1>
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Work expenses paid
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Pension paid
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Is salaried part-time working offered?
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise" name="type-of-exercise" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Welsh requirement
                </h1>
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Welsh language
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Devolution questions
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}