{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="timeline" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--CONDITIONAL CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Add shortlisting methods
                </h1>
              </legend>
              <span id="citizenship-conditional-hint" class="govuk-hint">
                Select all that apply. You can also add these later.
              </span>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Situational judgement qualifying test (QT)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Critical analysis qualifying test (QT)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Scenario test
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Paper sift
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}