{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Add exercise essentials
          </h1>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label" for="exercise-name">
              Exercise name
            </label>
            <input class="govuk-input" id="exercise-name" name="exercise-name" type="text">
          </div>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label" for="vacancies-name">
              Number of vacancies
            </label>
            <input class="govuk-input" id="vacancies-name" name="vacancies-name" type="text">
          </div>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Payment type
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type" name="payment-type" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="payment-type">
                    Salaried
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-2" name="payment-type" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="payment-type-2">
                    Fee paid
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Type of exercise
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise" name="type-of-exercise" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise">
                    Legal
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    Non-legal
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-3" name="type-of-exercise" type="radio"
                    value="wales">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-3">
                    Senior
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Welsh requirement
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="welsh-requirement" name="welsh-requirement" type="checkbox"
                    value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="welsh-requirement">
                    Welsh language
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="welsh-requirement-2" name="welsh-requirement"
                    type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="welsh-requirement-2">
                    Devolution questions
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <h2 class="govuk-heading-l">
            Eligibility
          </h2>

          <!--CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Eligible professions
              </legend>
              <span id="event-name-hint" class="govuk-hint">
                Select which professions can apply
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="professions" name="professions" type="checkbox"
                    value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="professions">
                    Advocate
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="professions" name="professions" type="checkbox"
                    value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="professions">
                    Barrister
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="professions" name="professions" type="checkbox"
                    value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="professions">
                    CILEx
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="professions" name="professions" type="checkbox"
                    value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="professions">
                    Solicitor
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Years of experience
              </legend>
              <span id="event-name-hint" class="govuk-hint">
                Choose the years of relevant experience the candidate must have
              </span>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="years-experience" name="years-experience" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="years-experience">
                    5 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="years-experience-2" name="years-experience" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="years-experience-2">
                    7 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="years-experience-3" name="years-experience" type="radio"
                    value="wales">
                  <label class="govuk-label govuk-radios__label" for="years-experience-3">
                    9 years
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Reasonable length of service
              </legend>
              <span id="event-name-hint" class="govuk-hint">
                Add the minimum number of years the candidate must work
              </span>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="reasonable-length" name="reasonable-length" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="reasonable-length">
                    4 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="reasonable-length-2" name="reasonable-length" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="reasonable-length-2">
                    5 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="reasonable-length-3" name="reasonable-length" type="radio"
                    value="wales">
                  <label class="govuk-label govuk-radios__label" for="reasonable-length-3">
                    Other
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <h1 class="govuk-heading-l">
            Competencies
          </h1>

          <!--CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Competencies
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="competencies" name="competencies" type="checkbox"
                    value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="competencies">
                    Assimilating and clarifying information
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="competencies-2" name="competencies" type="checkbox"
                    value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="competencies-2">
                    Exercising judgement
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="competencies-3" name="competencies" type="checkbox"
                    value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="competencies-3">
                    Managing work efficiently
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="competencies-3" name="competencies" type="checkbox"
                    value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="competencies-3">
                    Possessing and building knowledge
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="competencies-3" name="competencies" type="checkbox"
                    value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="competencies-3">
                    Working and communicating with others
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="competencies-3" name="competencies" type="checkbox"
                    value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="competencies-3">
                    Leadership
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}