{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}
  <a href="#" class="govuk-back-link">Back</a>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="additional" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Years of post-qualifying experience (PQE)
                </h1>
              </legend>
              <span id="event-name-hint" class="govuk-hint">
                Add the minimum number of years of law-related work experience the candidate must have
              </span>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type" name="payment-type" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="payment-type">
                    5 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-2" name="payment-type" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="payment-type-2">
                    7 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-2" name="payment-type" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="payment-type-2">
                    Other
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </div>
      </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}