{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}
  <p><a href="exercise-contacts" class="govuk-back-link">Back</a></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="timeline-qt" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            Shortlisting
          </h1>
          <p class="govuk-body-l">You can return to this page later
            to add or change information.</p>

          <!--CONDITIONAL CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <h3 class="govuk-heading-m">Qualifying tests (QTs)</h3>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Situational judgement
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Critical analysis
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Scenario test
                  </label>
                </div>
                <br>
                <h3 class="govuk-heading-m">Sifts</h3>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox"
                    value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                    Name-blind paper sift
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox"
                    value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                    Paper sift
                  </label>
                </div>
                <br>
                <h3 class="govuk-heading-m">Other methods</h3>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox"
                    value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                    Telephone assessment
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox"
                    value="text message" data-aria-controls="conditional-citizenship-conditional-3">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                    Other
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-citizenship-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-text">
                      Add method
                    </label>
                    <input class="govuk-input" id="contact-by-text" name="contact-by-text" type="tel">
                    <p class="govuk_body" style="margin-top: 20px;">
                      <a href="#" class="govuk-button govuk-button--secondary">Add another</a>
                    </p>
                  </div>

                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}