{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Dashboard
          </h1>

          <!--TABLE-->
          <h2 class="govuk-heading-l">
            Your exercises
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">0003 Regional Employment Judge</a>
            </li>
            <li>
              <a class="govuk-link" href="#">354 Fee paid Medical Members First-tier Tribunal Health</a>
            </li>
            <li>
              <a class="govuk-link" href="#">377 Deputy Regional Valuer of the First-tier Tribunal, Property</a>
            </li>
          </ul>
          <h2 class="govuk-heading-m">
            All exercises
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">See all exercises</a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            New exercise
          </button>

        </div>
      </div>
    </form>
  </main>
  <!--END MAIN WRAPPER-->

  {% include "includes/footer.html" %}

</div>

{% endblock %}