{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl" style="margin-bottom:10px; margin-top:30px;">
            Create application form
          </h1>
          <span id="waste-hint" class="govuk-hint">
            Select which questions are relevant for this role.
          </span>

          <!--CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Eligibility
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="eligibility" name="eligibility" type="checkbox"
                    value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="eligibility">
                    Citizenship
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="eligibility-2" name="eligibility" type="checkbox"
                    value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="eligibility-2">
                    Years of experience
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Application form sections
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="application-form-sections" name="application-form-sections"
                    type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="application-form-sections">
                    Qualifications
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="application-form-sections-2"
                    name="application-form-sections" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="application-form-sections-2">
                    Experience
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="application-form-sections-3"
                    name="application-form-sections" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="application-form-sections-3">
                    Competencies
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="application-form-sections-3"
                    name="application-form-sections" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="application-form-sections-3">
                    Independent assessors
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="application-form-sections-3"
                    name="application-form-sections" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="application-form-sections-3">
                    Character
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="application-form-sections-3"
                    name="application-form-sections" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="application-form-sections-3">
                    Working preferences
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="application-form-sections-3"
                    name="application-form-sections" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="application-form-sections-3">
                    JAC connections
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="application-form-sections-3"
                    name="application-form-sections" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="application-form-sections-3">
                    Diversity
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save
          </button>

        </div>
      </div>
    </form>
  </main>
  <!--END MAIN WRAPPER-->

  {% include "includes/footer.html" %}

</div>

{% endblock %}