{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}<p><br></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    {% include "includes/exercise-title.html" %}

    <div class="govuk-grid-row">
      {% include "includes/side-nav.html" %}

      <div class="govuk-grid-column-three-quarters">

        <!--LINK-->
        <div style="text-align: right;">
          <a href="/create-an-exercise/v2-0-august-22/exercise-contacts class=">Update exercise
            contacts</a>
        </div>

        <!--HEADER-->
        <h2 class="govuk-heading-l">JAC contacts</h2>

        <p class="govuk-body"><strong>Exercise mailbox</strong><br>123-recorder@jac.gov.uk</p>

        <!--TABLE-->
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" width="50%">Policy contact</th>
              <td class="govuk-table__cell">
                <details class="govuk-details" data-module="govuk-details" style="margin-bottom:0px;">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Iona Wainwright
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <a href="#">iona.waitwright@jac.gov.uk</a><br>
                    0208 123 4567
                  </div>
                </details>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Equality and diversity contact</th>
              <td class="govuk-table__cell">Lianne Cantu</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Senior selection exercise manager</th>
              <td class="govuk-table__cell">Phillippa Samuels</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Selection exercise manager</th>
              <td class="govuk-table__cell">Sierra Mcmillan</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Selection exercise officers</th>
              <td class="govuk-table__cell">Nisha Fisher<br>Haley Holmes<br>Lacey-May Hodson</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Assigned commissioners</th>
              <td class="govuk-table__cell">Akeem Norton<br>Victor David</td>
            </tr>
          </tbody>
        </table>

        <!--HEADER-->
        <h2 class="govuk-heading-l">Other contacts</h2>

        <!--TABLE-->
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Appropriate Authority</th>
              <td class="govuk-table__cell">Lord Chancellor</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Judicial Office contact</th>
              <td class="govuk-table__cell">India Hoffman</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">HMCTS or Welsh Government lead</th>
              <td class="govuk-table__cell">Alishia Gilmour</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Lead judge</th>
              <td class="govuk-table__cell">Gavin Mcconnell</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Drafting judges</th>
              <td class="govuk-table__cell">Anaiya Perez<br>Macauly Wilkerson</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Statutory consultees</th>
              <td class="govuk-table__cell">Maureen Dunn<br>Rhiannan Bell</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Other stakeholders</th>
              <td class="govuk-table__cell">Amrita Garcia</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}