{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}<p><br></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    {% include "includes/exercise-title.html" %}


    <div class="govuk-grid-row">
      {% include "includes/side-nav.html" %}

      <div class="govuk-grid-column-three-quarters">

        <!--LINK-->
        <div style="text-align: right;">
          <a href="/create-an-exercise/v2-1-august-30/eligibility" class="govuk-body">Update eligibility
            information</a>
        </div>

        <!--HEADER-->
        <h2 class="govuk-heading-l">Eligibility information</h2>

        <!--TABLE-->
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Qualifications</th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Does Schedule 2 apply?</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Add details</th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Post-qualification experience (PQE)</th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Does additional selection criteria (ASC) apply?</th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Add details</th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Reasonable length of service</th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Retirement age</th>
              <td class="govuk-table__cell">70 years</td>
            </tr>
          </tbody>
        </table>

      </div>
      <!--END TABS-->

    </div>
</div>

</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}