{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}<p><br></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    {% include "includes/exercise-title.html" %}

    <div class="govuk-grid-row">
      {% include "includes/side-nav.html" %}

      <div class="govuk-grid-column-three-quarters">

        <!--LINK-->
        <div style="text-align: right;">
          <a href="/create-an-exercise/v2-0-august-22/shortlisting" class="govuk-body">Update shortlisting
            methods</a>
        </div>
        <!--HEADER-->
        <h2 class="govuk-heading-l">Shortlisting methods</h2>

        <!--TABLE-->
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Shortlisting methods</th>
              <td class="govuk-table__cell">Situational judgment test<br>Critical analysis test</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}