{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}<p></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    {% include "includes/exercise-title.html" %}

    <div class="govuk-grid-row">
      {% include "includes/side-nav.html" %}

      <div class="govuk-grid-column-three-quarters">

        <!--HEADER-->
        <h2 class="govuk-heading-l">Applications</h2>

        <!--TABLE-->
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Danni Stein</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Bernard Larson</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Donna Andrade</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Aadil Roth</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Abbigail Worthington</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Peter Watson</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Lucille Adamson</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Rui Owen</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Sannah Pate</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Doris Mahoney</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}