{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}<p></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    {% include "includes/exercise-title.html" %}

    <div class="govuk-grid-row">
      {% include "includes/side-nav.html" %}

      <div class="govuk-grid-column-three-quarters">

        <!--LINK-->
        <div style="text-align: right;">
          <a href="/create-an-exercise/v2-0-august-22/timeline-qt" class="govuk-body">Update timeline</a>
        </div>

        <!--HEADER-->
        <h2 class="govuk-heading-l">Timeline</h2>

        <!--TIMELINE-->
        {% include "includes/timeline-display.html" %}

      </div>
    </div>

  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}