{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}<p></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    {% include "includes/exercise-title.html" %}

    <div class="govuk-grid-row">

      <!--SIDE NAV-->
      <div class="govuk-grid-column-one-quarter">
        <ul class="dwp-vertical-navigation">
          <li>
            <a aria-current="page" href="tab-overview?current=tab-overview">
              Overview
            </a>
          </li>
          <li>
            <a href="tab-applications?current=tab-applications">
              Applications
            </a>
          </li>
          <li>
            <a href="tab-contacts?current=tab-contacts">
              Contacts
            </a>
          </li>
          <li>
            <a href="tab-shortlisting?current=tab-shortlisting">
              Shortlisting
            </a>
          </li>
          <li>
            <a href="tab-timeline?current=tab-timeline">
              Timeline
            </a>
          </li>
          <li>
            <a href="tab-vacancy?current=tab-vacancy">
              Vacancy information
            </a>
          </li>
          <li>
            <a href="tab-eligibility?current=tab-eligibility">
              Eligibility information
            </a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-grid-column-one-half">

          <!--GREY PANEL-->
          <div class="govuk-panel--s govuk-panel--grey">
            <span class="govuk-panel__body">Number of vacancies</span>
            <h1 class="govuk-panel__title">90</h1>
          </div>
          <!--GREY PANEL-->
          <div class="govuk-panel--s govuk-panel--grey">
            <span class="govuk-panel__body">Number of applications</span>
            <h1 class="govuk-panel__title">76</h1>
            <span class="govuk-body"><a href="tab-applications">View applications</a></span>
          </div>

          <p class="govuk-body-s"><a target="_blank"
              href="https://www.judicialappointments.gov.uk/138-deputy-judge-upper-tribunal-immigration-and-asylum-chamber-information-page">
              View info page
            </a></p>
          <p class="govuk-body-s">
            <a target="blank" href="#">
              View application form
            </a>
          </p>
          <p class="govuk-body-s">
            <a target="blank" href="#">
              Change name of exercise
            </a>
          </p>

        </div>

        <div class="govuk-grid-column-one-half">

          <!--BLUE PANEL-->
          <div class="govuk-panel--s govuk-panel--highlight">
            <div class="govuk-panel__body--s">
              STATUS
            </div>
            <span class="govuk-panel__body">Open for applications</span>
          </div>
          <!--TIMELINE-->
          <ol class="dwp-timeline govuk-list">
            <li class="dwp-timeline__entry" style="margin-top: 0px;">
              <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Closed for applications</h3>
              <p class="dwp-timeline__info"><span class="dwp-timeline__date">6 August 2019</span></p>
            </li>
            <li class="dwp-timeline__entry">
              <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Situational judgement test, Critical analysis
                test
              </h3>
              <p class="dwp-timeline__info"><span class="dwp-timeline__date">17 September 2019</span></p>
            </li>
            <li class="dwp-timeline__entry">
              <p class="govuk-body"><a href="tab-timeline">View timeline</a></p>
            </li>
          </ol>

        </div>

      </div>
    </div>

  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}