{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}<p><br></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    {% include "includes/exercise-title.html" %}

    <div class="govuk-grid-row">
      {% include "includes/side-nav.html" %}

      <div class="govuk-grid-column-three-quarters">

        <!--LINK-->
        <div style="text-align: right;">
          <a href="/create-an-exercise/v2-1-august-30/vacancy" class="govuk-body">Update vacancy information</a>
        </div>

        <!--HEADER-->
        <h2 class="govuk-heading-l">Vacancy information</h2>

        <!--TABLE-->
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Is the vacancy for a court or tribunal?
              </th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Jurisdiction
              </th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Location</th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Number of vacancies</th>
              <td class="govuk-table__cell">1 Immediate start (S87)<br>0 Future start (S94)</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Appointment type</th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Salary</th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Is salaried part-time working (SPTW) offered?
              </th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Add details
              </th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Welsh requirement
              </th>
              <td class="govuk-table__cell">Null</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Job description
              </th>
              <td class="govuk-table__cell">Null</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}