{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <!--HEADER-->
  <div class="govuk-heading-l">Judicial Appointments Commission</div>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your feedback will help us improve it.
        </span>
      </p>
    </div>
  <!--END HEADER-->

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

  <form class="form" action="task-list" method="post">
      <h1 class="govuk-heading-xl" style="margin-bottom:10px; margin-top:30px;">
          Create application form
        </h1>
        <span id="waste-hint" class="govuk-hint">
            Select which questions are relevant for this role.
          </span>
      <h1 class="govuk-heading-l" style="margin-bottom:10px; margin-top:30px;">
            
          </h1>
          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-heading-l" style="margin-top:10px; margin-bottom:0;">
                    Eligibility
                  </h1>
                </legend>
                <span id="waste-hint" class="govuk-hint">
                  Select all that apply.
                </span>
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      citizenship
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      years of experience
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    ??
                  </label>
                </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-heading-l" style="margin-top:10px; margin-bottom:0;">
                      Application form sections
                    </h1>
                  </legend>
                  <span id="waste-hint" class="govuk-hint">
                    Select all that apply.
                  </span>
                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste">
                        qualifications
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        experience
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      competencies
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        independent assessors
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                          character
                        </label>
                      </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                          working preferences
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                            JAC connections
                          </label>
                        </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                          diversity
                        </label>
                      </div>
                  </div>
                </fieldset>
              </div>

              <button type="submit" class="govuk-button" data-module="govuk-button">
                  Save
              </button>
  
  </form>

  </main>
  <!--END MAIN WRAPPER-->

    <!--FOOTER-->
    <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container ">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          
                  <span class="govuk-footer__licence-description">
                      <div>
                          <a href="guide.html">
                            Prototype kit guide
                          </a>
                        </div>
                  </span>
                </div>
              </div>
          </div>
      </footer>
      <!--END FOOTER-->

</div>

{% endblock %}
