{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <!--HEADER-->
  <div class="govuk-heading-l">Judicial Appointments Commission</div>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your feedback will help us improve it.
        </span>
      </p>
    </div>
  <!--END HEADER-->

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

  <form class="form" action="task-list" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          New exercise
        </h1>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Basic information
          </h1>
          <label class="govuk-label" for="event-name">
              Exercise name
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="width-10">
              Salary
            </label>
            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-4" type="text" placeholder="£">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-heading-l" style="margin-top:10px; margin-bottom:0;">
                  Type of exercise
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise" name="type-of-exercise" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise">
                    Legal
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    Non-legal
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-3" name="type-of-exercise" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-3">
                    Senior
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <h1 class="govuk-heading-l" style="margin-top:30px; margin-bottom:0;">
            
          </h1>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-heading-l" style="margin-top:10px; margin-bottom:0;">
                  Eligibility
                </h1>
                <span id="event-name-hint" class="govuk-hint" style="margin-top:5px; margin-bottom:0;">
                  Required experience
                </span>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="eligibility" name="eligibility" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="eligibility">
                    5 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="eligibility-2" name="eligibility" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="eligibility-2">
                    7 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="eligibility-3" name="eligibility" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="eligibility-3">
                    9 years
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Reasonable length of service
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-heading-l" style="margin-top:10px; margin-bottom:0;">
                Competencies
              </h1>
            </legend>
            <span id="waste-hint" class="govuk-hint">
              Select all that apply.
            </span>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  assimilating and clarifying information
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  exercising judgement
                </label>
              </div>
              <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                managing work efficiently
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                possessing and building knowledge
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                working and communicating with others
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                leadership
              </label>
            </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Number of vacancies
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <div class="govuk-form-group">
          <div class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            </legend>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="welsh" name="welsh" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="welsh">
                  There is a Welsh requirement
                </label>
              </div>
              
              <br><br>
              <button type="submit" class="govuk-button" data-module="govuk-button">
                  Save
              </button>
            </div>
          </div>
        </form>

  </main>
  <!--END MAIN WRAPPER-->

    <!--FOOTER-->
    <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container ">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          
                  <span class="govuk-footer__licence-description">
                      <div>
                          <a href="guide.html">
                            Prototype kit guide
                          </a>
                        </div>
                  </span>
                </div>
              </div>
          </div>
      </footer>
      <!--END FOOTER-->

</div>

{% endblock %}
