{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}
  <p><a href="/index" class="govuk-back-link">Back</a></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="eligibility" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <span class="govuk-caption-xl">Version</span>
          <h1 class="govuk-heading-xl">2.2<br>
            <p class="govuk-body"><a href="teamwork" target="_blank">Team UX</a> released this on 20 September 2019</p>
          </h1>
          <h2 class="govuk-heading-l">Removed</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Hint text of <code>Senior selection exercise manager</code> on 'Contacts'
            </li>
            <li>
              Radio option 'Senior Presiding Judge (SPJ)' from <code>Appropriate authority</code> on 'Contacts'
            </li>
            <li>
              Date fields <code>Character checks</code>, <code>Statutory consultation</code>, and <code>Outcome to
                candidates</code> (for all shortlisting types) on 'Timeline'
            </li>
          </ul>

          <h2 class="govuk-heading-l">Changed</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Content of <code>h1</code> and leading <code>p</code> on 'Contacts', 'Shortlisting', 'Timeline',
              Vacancy information', and 'Eligibility information'
            </li>
            <li>
              <code>Add another</code> from link to secondary button
            </li>
            <li>
              <code>Remove</code> (after adding another) from link to warning button
            </li>
            <li>
              <code>Fee</code> from currency to text input on 'Vacancy information'
            </li>
            <li>
              Position of <code>About the role</code> on 'Vacancy information'
            </li>
            <li>
              Content of question and hint text of <code>Does Schedule 2(d) apply?</code> on 'Eligibility information'
            </li>
            <li>
              Position of <code>Qualifications</code> on 'Eligibility information'
            </li>
          </ul>

          <h2 class="govuk-heading-l">Added</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              GBP salary amounts to <code>Salary group</code> dropdown on 'Vacancy information'
            </li>
            <li>
              'Group 8' option to <code>Salary group</code> dropdown on 'Vacancy information'
            </li>
            <li>
              <code>Additional information</code> subheading on 'Vacancy information'
            </li>
            <li>
              Hint text to 'Other' option in <code>Qualifications</code> on 'Eligibility information'
            </li>
            <li>
              <code>Does previous judicial experience (PJE) apply?</code> question on 'Eligibility information'
            </li>
          </ul>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}