{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Exercise launched
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!--CONFIRMATION BOX-->
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">Exercise published</h1>
        </div>

        <!--LINKS-->
        <p><a href="dashboard">Go back to your dashboard</a></p>
        <p><a href="index">Sign out</a></p>

        <!--END MAIN WRAPPER-->
      </div>
    </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}