{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Your exercises
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <!--PAGE TITLE-->
        <h1 class="govuk-heading-xl">
          Your exercises
        </h1>

        <!--TABLE-->
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">0003</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Regional Employment Judge</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">354</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Fee paid Medical Members First-tier Tribunal Health</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">377</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Deputy Regional Valuer of the First-tier Tribunal, Property</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">0003</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Regional Employment Judge</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">354</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Fee paid Medical Members First-tier Tribunal Health</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">377</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Deputy Regional Valuer of the First-tier Tribunal, Property</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">0003</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Regional Employment Judge</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">354</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Fee paid Medical Members First-tier Tribunal Health</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">377</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Deputy Regional Valuer of the First-tier Tribunal, Property</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">0003</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Regional Employment Judge</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">354</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Fee paid Medical Members First-tier Tribunal Health</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">377</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Deputy Regional Valuer of the First-tier Tribunal, Property</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">0003</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Regional Employment Judge</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">354</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Fee paid Medical Members First-tier Tribunal Health</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#">377</a>
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Deputy Regional Valuer of the First-tier Tribunal, Property</a>
            </dd>
          </div>
        </dl>

        <p><a href="#">View all exercises</a></p>
        <br>

        <!--BUTTON-->
        <a href="exercise-1" class="govuk-button">
          Create an exercise
        </a>

        <!--END MAIN WRAPPER-->
      </div>
    </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}