{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}
  <a href="exercise-4" class="govuk-back-link">Back</a>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="dashboard" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--RADIO BUTTON-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Payment type
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                    value="email" data-aria-controls="conditional-how-contacted-conditional">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    Salaried
                    <p> [Kellie: reveal txt: Yearly salary]</p>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                    value="email" data-aria-controls="conditional-how-contacted-conditional">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    Fee paid
                    <p> [Kellie: reveal txt: Daily fee]</p>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </div>
      </div>
    </form>
  </main>
  <!--END MAIN WRAPPER-->

  {% include "includes/footer.html" %}

</div>

{% endblock %}