{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}
  <a href="exercise-4" class="govuk-back-link">Back</a>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          [Legal - tribunal branch]
        </h1>
        <h1 class="govuk-heading-xl">
          What are the Schedule 2 criteria something
        </h1>

      </div>
    </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}